:root {
  --z-index-xs: 1;
  --z-index-sm: 10;
  --z-index-md: 100;
  --z-index-lg: 1000;
  --z-index-xl: 10000;
  --opacity-xs: 0.2;
  --opacity-sm: 0.4;
  --opacity-md: 0.6;
  --opacity-lg: 0.8;
  --opacity-xl: 1;
  --opacity-overlay: 0.95;
  --duration-xs: 0.1;
  --duration-sm: 0.2;
  --duration-md: 0.4;
  --duration-lg: 0.8;
  --duration-xl: 1.6;
  --distance-xs: min(1rem, 5%);
  --distance-sm: min(2rem, 10%);
  --distance-md: min(4em, 20%);
  --distance-lg: min(8rem, 40%);
  --distance-xl: min(16rem, 80%);
  --scale-delta-xs: 0.05;
  --scale-delta-sm: 0.1;
  --scale-delta-md: 0.2;
  --scale-delta-lg: 0.4;
  --scale-delta-xl: 0.8;
  --reduced-motion-distance-multiplier: 0.25;
  --reduced-motion-duration-multiplier: 1.25;
  --reduced-motion-scale-delta-multiplier: 0.25;
  --outline-offset: max(-1px, -0.0625rem);
  --outline-style: solid;
  --outline-width: max(2px, 0.125rem);
  --border-radius: max(5px, 0.3125rem);
  --border-style: solid;
  --border-width: max(1.5px, 0.0938rem);
  --spacing-xs: min(0.4rem, 1.6vw);
  --spacing-sm: min(0.8rem, 3.2vw);
  --spacing-md: min(1.6rem, 6.4vw);
  --spacing-lg: min(3.2rem, 12.8vw);
  --spacing-xl: min(6.4rem, 25.6vw);
  --spacing-click: max(50px, 2.5vw);
  --spacing-main: clamp(12px, 2.4vw, 1.6rem);
  --width-xs: 8rem;
  --width-sm: 16rem;
  --width-md: 24rem;
  --width-lg: 40rem;
  --width-xl: 64rem;
  --width-article: 80ch;
  --width-avatar: 4rem;
  --width-main-content: 51rem;
  --width-profile-card: 10rem;
  --width-text-box: 50ch;
  --height-xs: 8rem;
  --height-sm: 16rem;
  --height-md: 24rem;
  --height-lg: 40rem;
  --height-xl: 64rem;
  --height-input: 2.5rem;
  --height-panel: max(55px, 3rem);
  --height-scroll-padding-top: 2.5rem;
  --height-thumbnail: 4rem;
  --font-family-base: sans-serif;
  --font-family-input: sans-serif;
  --font-family-mono: monospace;
  --font-family-pop: serif;
  --font-size-xs: 0.65rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-hero: 2.5rem;
  --font-weight-xs: 100;
  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xl: 700;
  --font-weight-black: 900;
  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;
  --clr-text-dark: hsl(0, 0%, 10%);
  --clr-text-light: hsl(0, 0%, 95%);
  --clr-darkener: hsl(0, 0%, 10%);
  --clr-lightener: hsl(0, 0%, 95%);
  --responsive-html-font-size-base: max(14px, 0.875em + 0.125vw);
  --responsive-html-font-size-portrait: max(15px, 0.9375em + 0.25vw);
  --responsive-html-font-size-ultrawide: max(13px, 0.8125em + 0.0625vw);
  --duration-multiplier: 1;
  --distance-multiplier: 1;
  --scale-delta-multiplier: 1;
  --global-spacing-multiplier: 1;
  --global-font-size-multiplier: 1;
  --global-line-height-multiplier: 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes draw-from-left {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}
@keyframes draw-from-right {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0 0;
  }
}
@keyframes draw-from-top {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0 0;
  }
}
@keyframes draw-from-bottom {
  from {
    translate: 100% 0;
  }
  to {
    translate: 0 0;
  }
}
@keyframes slide-from-left {
  from {
    translate: 0 calc(var(--distance, calc(var(--distance-md) * var(--distance-multiplier, 1))) * -1);
  }
  to {
    translate: 0 0;
  }
}
@keyframes slide-from-right {
  from {
    translate: 0 var(--distance, calc(var(--distance-md) * var(--distance-multiplier, 1)));
  }
  to {
    translate: 0 0;
  }
}
@keyframes slide-from-top {
  from {
    translate: calc(var(--distance, calc(var(--distance-md) * var(--distance-multiplier, 1))) * -1) 0;
  }
  to {
    translate: 0 0;
  }
}
@keyframes slide-from-bottom {
  from {
    translate: var(--distance, calc(var(--distance-md) * var(--distance-multiplier, 1))) 0;
  }
  to {
    translate: 0 0;
  }
}
@keyframes zoom-in {
  from {
    scale: 1-var(--scale-delta, calc(var(--scale-delta-md) * var(--scale-delta-multiplier, 1)));
  }
  to {
    scale: 1;
  }
}
@keyframes zoom-out {
  from {
    scale: 1var(--scale-delta, calc(var(--scale-delta-md) * var(--scale-delta-multiplier, 1)));
  }
  to {
    scale: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  outline-offset: var(--outline-offset);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ol,
ul,
dl {
  list-style-position: inside;
}

img {
  shape-margin: calc(var(--spacing-main) * var(--global-spacing-multiplier, 1));
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
  html {
    --duration-multiplier: var(--reduced-motion-duration-multiplier);
    --distance-multiplier: var(--reduced-motion-distance-multiplier);
    --scale-delta-multiplier: var(--reduced-motion-scale-delta-multiplier);
  }
}

html {
  --html-font-size: var(--responsive-html-font-size-base);
  font-size: calc(var(--html-font-size) * var(--global-ui-scale, 1));
  hanging-punctuation: first last;
}
@media (orientation: portrait) {
  html {
    --html-font-size: var(--responsive-html-font-size-portrait);
  }
}

body {
  font-family: var(--font-family-base);
  font-size: calc(var(--font-size-md) * var(--global-font-size-multiplier, 1));
  line-height: calc(var(--line-height-md) * var(--global-line-height-multiplier, 1));
  word-break: break-word;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: var(--height-scroll-padding-top);
  }
}

/*# sourceMappingURL=main.css.map */
