@use "./modules/theme.scss";
@use "./modules/fx.scss";

:root {
  @include theme.add-color("twitch", #6441a4);
}

.box {
  background-color: theme.get-color(#6441a4, "bold", 0.5);
  background-color: theme.get-color("twitch", "bold", 0.5);
}

$css-var: var(--color-carmelo--text);
$check-result-1: theme.is-css-var-a-theme-color($css-var);

@debug $check-result-1;

body {
  @include fx.set-box-shadow(
    "3d",
    "shadow",
    (
      "offset-x-replacement": var(--shadow-offset-x),
      "blur-modifier": var(--user-xp),
      "spread-multiplier": var(--user-hp),
    )
  );
  @include theme.set-color-property("background", "main");
  @include fx.set-typography(
    "title",
    (
      "line-height-multiplier": var(--miopia-multiplier),
    )
  );
}

@include theme.use-color-classes("main");
@include theme.use-color-classes("twitch", "shadow");
