@use "../modules/fx.scss";
@use "../modules/theme.scss";
@use "../modules/ui.scss";
@use "../wtk.scss";
@use "sass:map";

:where(.box) {
  @include theme.set-color-property("background", "main");

  border: wtk.get("border");
  border-radius: wtk.get("border", "radius");
  padding: wtk.get("spacing", "main");
}

@each $preset-name, $preset in wtk.find-presets("box-shadow") {
  .box-shadow-#{$preset-name} {
    @include fx.set-box-shadow($preset-name);
  }
}

@include ui.respond-to-pointer() {
  $selector: ".highlight:hover";

  @for $i from 1 through 3 {
    $shade: wtk.get("color-shade", "highlight-#{$i}");

    #{$selector} {
      background-color: color-mix(
        in srgb,
        var(--color-background),
        var(--color-background--highlighter) $shade
      );
    }

    $selector: "#{$selector} > .highlight:hover";
  }
}