@use "../modules/tools.scss";
@use "../wtk.scss";
@use "sass:map";

@each $property in "font-family", "font-size", "line-height" {
  @each $keyset in map.keys(wtk.find-settings($property, true)) {
    $value: wtk.get($property, $keyset);

    @include tools.extend-selector-with-keyset(".#{$property}", $keyset) {
      #{$property}: $value;
    }
  }
}

.text {
  @each $value in left, right, center, justify {
    &-align-#{$value} {
      text-align: $value;
    }
  }

  @each $value in none, underline, wavy {
    &-decoration-#{$value} {
      text-decoration: $value;
    }
  }

  @each $value in capitalize, lowercase, uppercase {
    &-transform-#{$value} {
      text-transform: $value;
    }
  }
}

@each $preset-name, $preset-settings in wtk.find-presets("typography") {
  .text-is-#{$preset-name} {
    @each $property, $value in $preset-settings {
      #{$property}: wtk.get($property, $value);
    }
  }
}
