@use "../wtk.scss";

@each $keyframes-id in "fade", "fade-in", "fade-out" {
  $from-opacity: 0;
  $to-opacity: 1;

  @if ($keyframes-id == "fade-out") {
    $from-opacity: 1;
    $to-opacity: 0;
  }

  @keyframes #{$keyframes-id} {
    from {
      opacity: $from-opacity;
    }
    to {
      opacity: $to-opacity;
    }
  }
}

@each $keyframes-id in "draw-from", "slide-from" {
  $base-distance: 0;
  $from-translate: 0 0;

  @if ($keyframes-id == "draw-from") {
    $base-distance: 100%;
  } @else {
    $fallback-value: wtk.get("distance");
    $base-distance: var(--animation-distance, #{$fallback-value});
  }

  $from-translate-map: (
    "left": 0 calc($base-distance * -1),
    "right": 0 $base-distance,
    "top": calc($base-distance * -1) 0,
    "bottom": $base-distance 0,
  );

  @each $coordinate, $from-translate in $from-translate-map {
    @keyframes #{$keyframes-id}-#{$coordinate} {
      from {
        translate: $from-translate;
      }
      to {
        translate: 0 0;
      }
    }
  }
}

@each $keyframes-id in "zoom-in", "zoom-out" {
  $from-scale: 1;
  $fallback-value: wtk.get("scale-delta");
  $scale-delta: var(--animation-scale-delta, #{$fallback-value});

  @if ($keyframes-id == "zoom-in") {
    $from-scale: calc(1 - $scale-delta);
  } @else {
    $from-scale: calc(1 + $scale-delta);
  }

  @keyframes #{$keyframes-id} {
    from {
      scale: $from-scale;
    }
    to {
      scale: 1;
    }
  }
}
