@use "../_config";
@use "../modules/tools.scss";
@use "../wtk.scss";
@use "sass:map";

:root {
  @each $settings-id, $settings-map in config.$settings {
    @if (
      wtk.get-settings-parameter($settings-id, "do-not-compile-css-vars") ==
        false
    ) {
      $settings-value: map.get($settings-map, "value");
      $css-var-name: wtk.get-settings-parameter($settings-id, "name");
      $key-separator: wtk.get-settings-parameter($settings-id, "key-separator");

      @include tools.set-variables-from-settings(
        $css-var-name,
        $settings-value,
        $key-separator
      );
    }

    $settings-multiplier: wtk.get-settings-parameter(
      $settings-id,
      "multiplier"
    );

    @if ($settings-multiplier != null) {
      @if (tools.is-css-var($settings-multiplier)) {
        $css-var-name: tools.extract-css-var-name($settings-multiplier);
        $css-var-fallback: tools.extract-css-var-fallback-value(
          $settings-multiplier,
          1
        );

        --#{$css-var-name}: #{$css-var-fallback};
      } @else {
        --#{$settings-id}-multiplier: #{$settings-multiplier};
      }
    }
  }
}
